{% extends 'base.html' %}
{% block page_content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}"/>
<!-- Background image -->
<body id="bg" style="background-image: url('{% static "images/background.jpg"%}')";>
<!-- Background image -->
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micelka</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'blog/style.css' %}" />
  </head>
  <body class="d-flex flex-column">
    
    <header>
      <nav class="container">
        <div class="row">
          <div class="col text-center">
            <img id="instagram-logo" src="https://www.transparentpng.com/thumb/logo-instagram/Sj4fEy-instagram-png-logo-high-quality.png" alt="Instagram png logo high quality @transparentpng.com">
            <h2>Micelka</h2>
          </div>
        </div>
      </nav>
    </header>

    <main class="container flex-grow-1">
      <div class="row">
        <div class="col">
          {% for post in posts %}
          <section class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto">
                <img
                  src="{{ post.image }}"
                  class="img-fluid ml-3 my-3"
                  alt="{{ post.post_name }}"
                />
              </div>
              <div class="col-md-10">
                <div class="card-body ml-3">
                  <h3 class="card-title">{{ post.title }}</h3>
                  <p class="card-text">{{ post.description }}</p>
                  <a href="{{ post.link }}">
                    <p class="card-text">Sprawdz ten post!</p>
                  </a>
                </div>
              </div>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </main>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>


{% endblock %}