{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css'%}"/>

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>
<body id="bg" style="background-image: url('{% static "images/background.jpg"%}')";>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css'%}"/>
<h2 class="h_products">Produkty</h2>
<div class="row">
{% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img src="{{ post.image.url }}">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body }}</p>
                <a href="{% url 'post_detail' post.pk %}"
                   class="btn btn-info">
                    Kup teraz
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}