h2{
    color: #FF6289;
}

#bg{
    background: url('{% static "image/containers.jpg" %}') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input {
    background-color: #FF6289;
    border-color: #FF6289;
    color: #fff;
}