{% extends 'base.html' %}

{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css'%}"/>
<body id="bg" style="background-image: url('{% static "images/background.jpg"%}')";>
<h2>Logowanie</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Zaloguj sie">
</form>

{% comment %} <a href="{% url 'dashboard' %}">Spowrotem do strony glownej</a> {% endcomment %}
{% comment %} <div class="btn-group-vertical"> {% endcomment %}
    <a href="{% url 'dashboard_base' %}"
        class="btn btn-info btn-sm">
        Spowrotem do powitania
    </a>
    <a href="{% url 'password_reset' %}"
        class="btn btn-info btn-sm">
        Zresetuj haslo
    </a>
    <a href="{% url 'register' %}"
        class="btn btn-info btn-sm">
        Zarejestruj sie
    </a>
    <a href="{% url 'social:begin' 'github' %}"
        class="btn btn-info btn-sm">
        Zaloguj sie przez GitHub
    </a>
{% comment %} </div> {% endcomment %}
{% comment %} <a href="{% url 'password_reset' %}">Zresetuj haslo</a> {% endcomment %}
{% endblock %}