.navbar-brand {
    color: purple;
}
/* Change text color of the navbar */
.navbar-light .navbar-brand {
    color: purple;
}
/* h5 {
    color:#9E4244;
    } */
h2{
    color: grey;
}
/* .card-text {
    color: #FF6289
} */
.btn {
    background-color: #FF6289;
    border-color: #FF6289;
}

